.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 705px;
  border: 3px solid var(--color-header);
  border-radius: 10px;
  // padding: 1em;
  padding: min(4%, 1em) min(4%, 1.5em);
}

.textWrapper {
  display: flex;
  flex-direction: column;

  span {
    font-weight: bold;
    line-height: 0.9;
    text-transform: uppercase;
    // font-size: 1.25em;
    // font-size: 3em;
    font-size: clamp(1.25em, 0.6344em + 2.6266vw, 3em);
  }
}