.container {
  width: 100%;
  max-width: 810px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.item {
  --margin-top-bottom: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 min(12%, 97px);

  & > div {
    max-width: 210px;
  }

  span {
    width: 150%;
    text-align: center;
    margin-top: var(--margin-top-bottom);
    font-size: clamp(1em, 0.8057em + 0.829vw, 1.5em);
  }
}

@media (min-width: 750px) {
  .item {
    flex-direction: column-reverse;
    span {
      margin-top: 0;
      margin-bottom: var(--margin-top-bottom);
    }
  }
}
