.container {
  position: relative;
  cursor: pointer;
}

.outerBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--gradient-rock);
  height: 225%;
  width: 225%;
  padding: 25%;
  padding-bottom: 30%;
  border-radius: 50%;
  box-shadow: inset 0px -5px 2px 0px rgba(0,0,0, 0.4);
}

.innerBackground {
  background-color: #F1F1F1;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: inset 0px 4px 2px 0px rgba(0,0,0,0.35);
}

.image {
  width: 48px;
  height: 48px;
  position: relative;
  display: block;
}